#work.container.content-lg
  .row
    .col-sm-3.sm-margin-b-30
      .text-right.sm-text-left
        h2.margin-b-0 Примеры работ
        p Кликните на картинке для получения деталей
    .col-sm-8.col-sm-offset-1
      // Masonry Grid
      .masonry-grid.row.row-space-2
        .masonry-grid-sizer.col-xs-6.col-sm-6.col-md-1
        .masonry-grid-item.col-xs-12.col-sm-6.col-md-4
          sample-item(sample="$ctrl.samples[0]")
        .masonry-grid-item.col-xs-12.col-sm-6.col-md-8.margin-b-4
          sample-item(sample="$ctrl.samples[1]")
        .masonry-grid-item.col-xs-12.col-sm-6.col-md-4.margin-b-4
          sample-item(sample="$ctrl.samples[2]")
        .masonry-grid-item.col-xs-12.col-sm-6.col-md-4.md-margin-b-4
          sample-item(sample="$ctrl.samples[3]")
        .masonry-grid-item.col-xs-12.col-sm-6.col-md-4.md-margin-b-4
          // Work
          .work.work-popup-trigger
            .work-overlay
              img.full-width.img-responsive(src='assets/images/397x300/02.jpg', alt='Portfolio Image')
            .work-popup-overlay
              .work-popup-content
                a.work-popup-close(href='javascript:void(0);') Hide
                .margin-b-30
                  h3.margin-b-5 Art Of Coding
                  span Clean & Minimalistic Design
                .row
                  .col-sm-8.work-popup-content-divider.sm-margin-b-20
                    .margin-t-10.sm-margin-t-0
                      p
                        | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                      ul.list-inline.work-popup-tag
                        li.work-popup-tag-item
                          a.work-popup-tag-link(href='#') Design,
                        li.work-popup-tag-item
                          a.work-popup-tag-link(href='#') Coding,
                        li.work-popup-tag-item
                          a.work-popup-tag-link(href='#') Portfolio
                  .col-sm-4
                    .margin-t-10.sm-margin-t-0
                      p.margin-b-5
                        strong Project Leader:
                        |  John Doe
                      p.margin-b-5
                        strong Designer:
                        |  Alisa Keys
                      p.margin-b-5
                        strong Developer:
                        |  Mark Doe
                      p.margin-b-5
                        strong Customer:
                        |  Keenthemes
          // End Work
      // End Masonry Grid
  // // end row
// End Work
