.promo-block.parallax-window
  .container
    .row
      .col-sm-6
        .promo-block-divider
          h1.promo-block-title
            | Алексей
            br
            |  Захаров
          p.promo-block-text Веб-программист
        //ul.list-inline
        //  li
        //    a.social-icons(href='#')
        //      i.icon-social-facebook
        //  li
        //    a.social-icons(href='#')
        //      i.icon-social-twitter
