@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// injector
@import 'account/login/login.less';
@import 'admin/admin.less';
@import 'main/main.less';
@import 'corpus/borders.less';
@import 'corpus/breakpoints.less';
@import 'corpus/grid.less';
@import 'corpus/positioning.less';
@import 'corpus/reset.less';
@import 'corpus/responsive.less';
@import 'corpus/sizing.less';
@import 'corpus/typography.less';
@import 'corpus/utilities.less';
@import 'corpus/variables.less';
@import 'corpus/whitespace.less';
@import 'grid.less';
@import 'modal/modal.less';
// endinjector