#contact.bg-color-sky-light
  .container.content-lg
    .row
      .col-sm-3.sm-margin-b-30
        .text-right.sm-text-left
          h2.margin-b-0 Контакты
          p Позвоните мне
      .col-sm-8.col-sm-offset-1
        .row
          .col-md-3.col-xs-6.md-margin-b-30
            h5 Расположение
            a(href='https://yandex.ru/maps/11083/sarov/?ll=43.356361%2C54.911365&z=12&mode=search&text=%D0%A1%D0%B0%D1%80%D0%BE%D0%B2%2C%20%D0%9D%D0%B8%D0%B6%D0%B5%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%B0%D1%8F%20%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C&sll=43.344844%2C54.921898&sspn=0.129261%2C0.040686&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fll%3D43.345%252C54.923%26spn%3D0.250%252C0.135%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2520%25D0%259D%25D0%25B8%25D0%25B6%25D0%25B5%25D0%25B3%25D0%25BE%25D1%2580%25D0%25BE%25D0%25B4%25D1%2581%25D0%25BA%25D0%25B0%25D1%258F%2520%25D0%25BE%25D0%25B1%25D0%25BB%25D0%25B0%25D1%2581%25D1%2582%25D1%258C%252C%2520%25D0%25A1%25D0%25B0%25D1%2580%25D0%25BE%25D0%25B2',
            target="_blank") Саров, Нижегородская область
          .col-md-3.col-xs-6.md-margin-b-30
            h5 Телефон
            a(href='tel:+79202933656') +7-920-293-36-56
          .col-md-3.col-xs-6
            h5 Почта
            a(href='mailto:zangular@yandex.ru') zangular@yandex.ru
          .col-md-3.col-xs-6
            h5 Резюме
            a(href='{{ $ctrl.resumeUrl }}') На Head Hunter
