#body.mybody(data-spy="scroll", data-target=".header")
  // Header
  page-header
  // My portrait
  portrait
  // About me
  about
  // My specialization
  specialization
  // Examples of my works
  samples
  // Contact
  #contact
    .bg-color-sky-light
      .container.content-lg
        .row
          .col-sm-3.sm-margin-b-30
            .text-right.sm-text-left
              h2.margin-b-0 Contacts
              p Hire me.
          .col-sm-8.col-sm-offset-1
            .row
              .col-md-3.col-xs-6.md-margin-b-30
                h5 Location
                a(href='#') Brookyln, New York
              .col-md-3.col-xs-6.md-margin-b-30
                h5 Phone
                a(href='#') +77 234 548 00 00
              .col-md-3.col-xs-6
                h5 Email
                a(href='mailto:#') alex.teseira@gmail.com
              .col-md-3.col-xs-6
                h5 Web
                a(href='#') alex.teseira.com
        // // end row
  // End Contact
  // ========== END PAGE LAYOUT ==========
  // ========== FOOTER ==========
  footer.footer
    .content.container
      .row
        .col-xs-6
          img.footer-logo(src='assets/images/logo-dark.png', alt='Aircv Logo')
        .col-xs-6.text-right.sm-text-left
          p.margin-b-0
            a.fweight-700(href='http://keenthemes.com/preview/aircv/') Aircv
            |  Theme Powered by:
            a.fweight-700(href='http://www.keenthemes.com/') KeenThemes.com
      // // end row
  // ========== END FOOTER ==========
  // Back To Top
  a.js-back-to-top.back-to-top(href='javascript:void(0);') Top
