#body.mybody(data-spy="scroll", data-target=".header")
  // Header
  page-header
  // My portrait
  portrait
  // About me
  about
  // My specialization
  specialization
  // Examples of my works
  samples
  // Contacts
  contacts
  // ========== END PAGE LAYOUT ==========
  // ========== FOOTER ==========
  footer.footer
    .content.container
      .row
        .col-xs-6
          img.footer-logo(src='assets/images/logo-dark.png', alt='Aircv Logo')
        .col-xs-6.text-right.sm-text-left
          p.margin-b-0
            a.fweight-700(href='http://keenthemes.com/preview/aircv/') Aircv
            |  Theme Powered by:
            a.fweight-700(href='http://www.keenthemes.com/') KeenThemes.com
      // // end row
  // ========== END FOOTER ==========
  // Back To Top
  a.js-back-to-top.back-to-top(href='javascript:void(0);') Top
