#body.mybody(data-spy="scroll", data-target=".header")
  // Header
  page-header
  // My portrait
  portrait
  // About me
  about
  // My specialization
  specialization
  // Examples of my works
  samples
  // Contacts
  contacts
  // Footer
  footer.footer
    .content.container
      .row
        .col-xs-6
          img.footer-logo(src='assets/images/logo-dark.png', alt='Логотип')
        .col-xs-6.text-right.sm-text-left
          p.margin-b-0 Сделано в России, 2016 год
  // Back To Top
  a.js-back-to-top.back-to-top(href='javascript:void(0);') В начало
