#body.mybody(data-spy="scroll", data-target=".header")
  // Header
  page-header
  // ========== SLIDER ==========
  .promo-block.parallax-window
    .container
      .row
        .col-sm-6
          .promo-block-divider
            h1.promo-block-title
              | Alex
              br
              |  Teseira
            p.promo-block-text Web Designer & Front-end Developer
          ul.list-inline
            li
              a.social-icons(href='#')
                i.icon-social-facebook
            li
              a.social-icons(href='#')
                i.icon-social-twitter
            li
              a.social-icons(href='#')
                i.icon-social-dribbble
            li
              a.social-icons(href='#')
                i.icon-social-behance
            li
              a.social-icons(href='#')
                i.icon-social-linkedin
      // // end row
  // ========== SLIDER ==========
  // ========== PAGE LAYOUT ==========
  // About
  #about
    .container.content-lg
      .row
        .col-sm-3.sm-margin-b-30
          .text-right.sm-text-left
            h2.margin-b-0 Intro
            p What I am all about.
        .col-sm-8.col-sm-offset-1
          .margin-b-60
            p I'm Alex Teseira, orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          // Progress Box
          .progress-box
            h5
              | PHP
              span.color-heading.pull-right 87%
            .progress
              .progress-bar.bg-color-base(role='progressbar', data-width='87')
          .progress-box
            h5
              | HTML5
              span.color-heading.pull-right 96%
            .progress
              .progress-bar.bg-color-base(role='progressbar', data-width='96')
          .progress-box
            h5
              | JavaSript
              span.color-heading.pull-right 52%
            .progress
              .progress-bar.bg-color-base(role='progressbar', data-width='52')
          .progress-box
            h5
              | Photoshop
              span.color-heading.pull-right 77%
            .progress
              .progress-bar.bg-color-base(role='progressbar', data-width='77')
          // End Progress Box
      // // end row
  // End About
  // Experience
  #experience
    .bg-color-sky-light(data-auto-height='true')
      .container.content-lg
        .row
          .col-sm-3.sm-margin-b-30
            .text-right.sm-text-left
              h2.margin-b-0 Experience
              p Batman would be jealous.
          .col-sm-8.col-sm-offset-1
            .row.row-space-2.margin-b-4
              .col-md-4.md-margin-b-4
                .service(data-height='height')
                  .service-element
                    i.service-icon.icon-chemistry
                  .service-info
                    h3 HTML5/CSS3
                    p.margin-b-5 Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor
                  a.content-wrapper-link(href='#')
              .col-md-4.md-margin-b-4
                .service.bg-color-base.wow.zoomIn(data-height='height', data-wow-duration='.3', data-wow-delay='.1s')
                  .service-element
                    i.service-icon.color-white.icon-screen-tablet
                  .service-info
                    h3.color-white Photoshop
                    p.color-white.margin-b-5 Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor
                  a.content-wrapper-link(href='#')
              .col-md-4
                .service(data-height='height')
                  .service-element
                    i.service-icon.icon-badge
                  .service-info
                    h3 Front-end
                    p.margin-b-5 Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor
                  a.content-wrapper-link(href='#')
            // // end row
        // // end row
  // End Experience
  // Work
  #work
    .container.content-lg
      .row
        .col-sm-3.sm-margin-b-30
          .text-right.sm-text-left
            h2.margin-b-0 Works
            p I build the real value.
        .col-sm-8.col-sm-offset-1
          // Masonry Grid
          .masonry-grid.row.row-space-2
            .masonry-grid-sizer.col-xs-6.col-sm-6.col-md-1
            .masonry-grid-item.col-xs-12.col-sm-6.col-md-4
              // Work
              .work.work-popup-trigger
                .work-overlay
                  img.full-width.img-responsive(src='assets/images/397x300/03.jpg', alt='Portfolio Image')
                .work-popup-overlay
                  .work-popup-content
                    a.work-popup-close(href='javascript:void(0);') Hide
                    .margin-b-30
                      h3.margin-b-5 Art Of Coding
                      span Clean & Minimalistic Design
                    .row
                      .col-sm-8.work-popup-content-divider.sm-margin-b-20
                        .margin-t-10.sm-margin-t-0
                          p
                            | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                          ul.list-inline.work-popup-tag
                            li.work-popup-tag-item
                              a.work-popup-tag-link(href='#') Design,
                            li.work-popup-tag-item
                              a.work-popup-tag-link(href='#') Coding,
                            li.work-popup-tag-item
                              a.work-popup-tag-link(href='#') Portfolio
                      .col-sm-4
                        .margin-t-10.sm-margin-t-0
                          p.margin-b-5
                            strong Project Leader:
                            |  John Doe
                          p.margin-b-5
                            strong Designer:
                            |  Alisa Keys
                          p.margin-b-5
                            strong Developer:
                            |  Mark Doe
                          p.margin-b-5
                            strong Customer:
                            |  Keenthemes
              // End Work
            .masonry-grid-item.col-xs-12.col-sm-6.col-md-8.margin-b-4
              // Work
              .work.work-popup-trigger
                .work-overlay
                  img.full-width.img-responsive(src='assets/images/800x400/01.jpg', alt='Portfolio Image')
                .work-popup-overlay
                  .work-popup-content
                    a.work-popup-close(href='javascript:void(0);') Hide
                    .margin-b-30
                      h3.margin-b-5 Art Of Coding
                      span Clean & Minimalistic Design
                    .row
                      .col-sm-8.work-popup-content-divider.sm-margin-b-20
                        .margin-t-10.sm-margin-t-0
                          p
                            | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                          ul.list-inline.work-popup-tag
                            li.work-popup-tag-item
                              a.work-popup-tag-link(href='#') Design,
                            li.work-popup-tag-item
                              a.work-popup-tag-link(href='#') Coding,
                            li.work-popup-tag-item
                              a.work-popup-tag-link(href='#') Portfolio
                      .col-sm-4
                        .margin-t-10.sm-margin-t-0
                          p.margin-b-5
                            strong Project Leader:
                            |  John Doe
                          p.margin-b-5
                            strong Designer:
                            |  Alisa Keys
                          p.margin-b-5
                            strong Developer:
                            |  Mark Doe
                          p.margin-b-5
                            strong Customer:
                            |  Keenthemes
              // End Work
            .masonry-grid-item.col-xs-12.col-sm-6.col-md-4.margin-b-4
              // Work
              .work.work-popup-trigger
                .work-overlay
                  img.full-width.img-responsive(src='assets/images/397x400/01.jpg', alt='Portfolio Image')
                .work-popup-overlay
                  .work-popup-content
                    a.work-popup-close(href='javascript:void(0);') Hide
                    .margin-b-30
                      h3.margin-b-5 Art Of Coding
                      span Clean & Minimalistic Design
                    .row
                      .col-sm-8.work-popup-content-divider.sm-margin-b-20
                        .margin-t-10.sm-margin-t-0
                          p
                            | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                          ul.list-inline.work-popup-tag
                            li.work-popup-tag-item
                              a.work-popup-tag-link(href='#') Design,
                            li.work-popup-tag-item
                              a.work-popup-tag-link(href='#') Coding,
                            li.work-popup-tag-item
                              a.work-popup-tag-link(href='#') Portfolio
                      .col-sm-4
                        .margin-t-10.sm-margin-t-0
                          p.margin-b-5
                            strong Project Leader:
                            |  John Doe
                          p.margin-b-5
                            strong Designer:
                            |  Alisa Keys
                          p.margin-b-5
                            strong Developer:
                            |  Mark Doe
                          p.margin-b-5
                            strong Customer:
                            |  Keenthemes
              // End Work
            .masonry-grid-item.col-xs-12.col-sm-6.col-md-4.md-margin-b-4
              // Work
              .work.work-popup-trigger
                .work-overlay
                  img.full-width.img-responsive(src='assets/images/397x300/01.jpg', alt='Portfolio Image')
                .work-popup-overlay
                  .work-popup-content
                    a.work-popup-close(href='javascript:void(0);') Hide
                    .margin-b-30
                      h3.margin-b-5 Art Of Coding
                      span Clean & Minimalistic Design
                    .row
                      .col-sm-8.work-popup-content-divider.sm-margin-b-20
                        .margin-t-10.sm-margin-t-0
                          p
                            | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                          ul.list-inline.work-popup-tag
                            li.work-popup-tag-item
                              a.work-popup-tag-link(href='#') Design,
                            li.work-popup-tag-item
                              a.work-popup-tag-link(href='#') Coding,
                            li.work-popup-tag-item
                              a.work-popup-tag-link(href='#') Portfolio
                      .col-sm-4
                        .margin-t-10.sm-margin-t-0
                          p.margin-b-5
                            strong Project Leader:
                            |  John Doe
                          p.margin-b-5
                            strong Designer:
                            |  Alisa Keys
                          p.margin-b-5
                            strong Developer:
                            |  Mark Doe
                          p.margin-b-5
                            strong Customer:
                            |  Keenthemes
              // End Work
            .masonry-grid-item.col-xs-12.col-sm-6.col-md-4.md-margin-b-4
              // Work
              .work.work-popup-trigger
                .work-overlay
                  img.full-width.img-responsive(src='assets/images/397x300/02.jpg', alt='Portfolio Image')
                .work-popup-overlay
                  .work-popup-content
                    a.work-popup-close(href='javascript:void(0);') Hide
                    .margin-b-30
                      h3.margin-b-5 Art Of Coding
                      span Clean & Minimalistic Design
                    .row
                      .col-sm-8.work-popup-content-divider.sm-margin-b-20
                        .margin-t-10.sm-margin-t-0
                          p
                            | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                          ul.list-inline.work-popup-tag
                            li.work-popup-tag-item
                              a.work-popup-tag-link(href='#') Design,
                            li.work-popup-tag-item
                              a.work-popup-tag-link(href='#') Coding,
                            li.work-popup-tag-item
                              a.work-popup-tag-link(href='#') Portfolio
                      .col-sm-4
                        .margin-t-10.sm-margin-t-0
                          p.margin-b-5
                            strong Project Leader:
                            |  John Doe
                          p.margin-b-5
                            strong Designer:
                            |  Alisa Keys
                          p.margin-b-5
                            strong Developer:
                            |  Mark Doe
                          p.margin-b-5
                            strong Customer:
                            |  Keenthemes
              // End Work
          // End Masonry Grid
      // // end row
  // End Work
  // Contact
  #contact
    .bg-color-sky-light
      .container.content-lg
        .row
          .col-sm-3.sm-margin-b-30
            .text-right.sm-text-left
              h2.margin-b-0 Contacts
              p Hire me.
          .col-sm-8.col-sm-offset-1
            .row
              .col-md-3.col-xs-6.md-margin-b-30
                h5 Location
                a(href='#') Brookyln, New York
              .col-md-3.col-xs-6.md-margin-b-30
                h5 Phone
                a(href='#') +77 234 548 00 00
              .col-md-3.col-xs-6
                h5 Email
                a(href='mailto:#') alex.teseira@gmail.com
              .col-md-3.col-xs-6
                h5 Web
                a(href='#') alex.teseira.com
        // // end row
  // End Contact
  // ========== END PAGE LAYOUT ==========
  // ========== FOOTER ==========
  footer.footer
    .content.container
      .row
        .col-xs-6
          img.footer-logo(src='assets/images/logo-dark.png', alt='Aircv Logo')
        .col-xs-6.text-right.sm-text-left
          p.margin-b-0
            a.fweight-700(href='http://keenthemes.com/preview/aircv/') Aircv
            |  Theme Powered by:
            a.fweight-700(href='http://www.keenthemes.com/') KeenThemes.com
      // // end row
  // ========== END FOOTER ==========
  // Back To Top
  a.js-back-to-top.back-to-top(href='javascript:void(0);') Top
