#specialization.container.content-lg.bg-color-sky-light(data-auto-height='true')
  .row
    .col-sm-3.sm-margin-b-30
      .text-right.sm-text-left
        h2.margin-b-0 Experience
        p Batman would be jealous.
    .col-sm-8.col-sm-offset-1
      .row.row-space-2.margin-b-4
        .col-md-4.md-margin-b-4
          .service(data-height='height')
            .service-element
              i.service-icon.icon-chemistry
            .service-info
              h3 HTML5/CSS3
              p.margin-b-5 Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor
            a.content-wrapper-link(href='#')
        .col-md-4.md-margin-b-4
          .service.bg-color-base.wow.zoomIn(data-height='height', data-wow-duration='.3', data-wow-delay='.1s')
            .service-element
              i.service-icon.color-white.icon-screen-tablet
            .service-info
              h3.color-white Photoshop
              p.color-white.margin-b-5 Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor
            a.content-wrapper-link(href='#')
        .col-md-4
          .service(data-height='height')
            .service-element
              i.service-icon.icon-badge
            .service-info
              h3 Front-end
              p.margin-b-5 Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor
            a.content-wrapper-link(href='#')
