.container.content-lg
  .row
    .col-sm-3.sm-margin-b-30
      .text-right.sm-text-left
        h2.margin-b-0 Привет!
        p немного о себе...
    .col-sm-8.col-sm-offset-1
      .margin-b-60
        p Меня зовут Алексей. Я живу в городе Сарове Нижегородской области в 450 км от Москвы. Мой город известен тем, что на его территории располагается Федеральный Ядерный Центр. Город закрытый. Попасть в него можно только по специальному пропуску. В моём городе в 1949 году была создана первая советская ядерная бомба. Также Саров известен, как центр православия. Наверное каждый слышал про Серафима саровского и про Дивеево... Саров - маленький уютный город, окруженный лесами. Я очень люблю свой город!
        p Я увлекаюсь программированием, футболом и рыбалкой. Люблю фотографировать. Работаю программистом в саровском Технопарке. Профессионально программирую с 2002 года. Ниже я попытался оценить своё мастерство в разных технологиях веб-программирования.
      // Progress Box
      .progress-box
        h5
          | Javascript, ES6
          span.color-heading.pull-right 60%
        .progress
          .progress-bar.bg-color-base(role='progressbar', data-width='60')
      .progress-box
        h5
          | Angular.js (1.5)
          span.color-heading.pull-right 75%
        .progress
          .progress-bar.bg-color-base(role='progressbar', data-width='75')
      .progress-box
        h5
          | HTML5 (Jade)
          span.color-heading.pull-right 70%
        .progress
          .progress-bar.bg-color-base(role='progressbar', data-width='70')
      .progress-box
        h5
          | CSS (Less)
          span.color-heading.pull-right 65%
        .progress
          .progress-bar.bg-color-base(role='progressbar', data-width='65')
      .progress-box
        h5
          | Node.js, Express, MongoDB
          span.color-heading.pull-right 65%
        .progress
          .progress-bar.bg-color-base(role='progressbar', data-width='65')
