#about.container.content-lg
  .row
    .col-sm-3.sm-margin-b-30
      .text-right.sm-text-left
        h2.margin-b-0 Привет!
        p немного о себе...
    .col-sm-8.col-sm-offset-1
      .margin-b-60
        p Меня зовут Алексей. Я живу в городе Сарове Нижегородской области в 450 км от Москвы. Мой город известен тем, что на его территории располагается Федеральный Ядерный Центр. Город закрытый. Попасть в него можно только по специальному пропуску. В моём городе в 1949 году была создана первая советская ядерная бомба. Также Саров известен как центр православия. Наверное каждый, хотя бы раз в жизни, слышал про Серафима Саровского и про Дивеево... Саров - маленький уютный город, окруженный лесами. Я очень люблю свой город!
        p Я увлекаюсь программированием, футболом и рыбалкой. Люблю фотографировать. Работаю удалённо. Профессионально программирую с 2002 года. Ниже я попытался примерно оценить своё мастерство в разных технологиях веб-программирования.
      // Skills list
      .progress-box(ng-repeat="skill in skills")
        h5
          | {{ skill.name }}
          span.color-heading.pull-right {{ skill.value }}%
        .progress
          .progress-bar.bg-color-base(role='progressbar', data-width='{{ skill.value }}')
